  // The main layout
extends layout

// The local content
block content
	div.container
		div.row
			div.content.col-md-6.well 
				form(action='/login', method='POST', role='form')
					legend Please login
					.form-group
						label(for='') Login
						input.form-control(type='text', placeholder='your email', name='email')
						input.form-control(type='password', placeholder='your password', name='password')
					button.btn.btn-primary(type='submit', value='Log In') Submit 
				
			div.content.col-md-6.well I'm on the right

block scripts			
	script(src='default.js')

	